spring:
  application:
    name: user-management-api
  datasource:
    url: jdbc:postgresql://localhost:5432/user_management
    username: akibaz
    password: akibaz123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 80800
  error:
    include-message: always
    include-binding-errors: always
logging:
  level:
    dev.akibaz: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
